.contactContainer {
  background-color: #14182f;
  padding: 2.5rem 0;
  margin-bottom: 1rem;
  .contactContent {
    background-color: #0a0c18;
    max-width: 1200px;
    margin: auto;

    padding: 2rem 0 3rem 0;
  }
  .contactWrapper {
    margin-top: 3rem;
    display: flex;

    .leftPart {
      width: 50%;
      display: flex;

      align-items: center;
      flex-direction: column;
      h1 {
        margin-bottom: 3rem;
      }

      p {
        margin-top: 3rem;
      }
    }

    .rightPart {
      padding: 0 3rem;
      width: 50%;
      .inputWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
      .inputField {
        margin-bottom: 1rem;
        input {
          padding: 0.5rem 1rem;
          width: 100%;
        }
      }
      p {
        margin-bottom: 0.3rem;
      }
      .message {
        textarea {
          padding: 0.5rem 1rem;
          width: 100%;
        }
        p {
          &:last-child {
            margin-top: 0.5rem;
            font-size: 0.8rem;
          }
        }
      }
      button {
        margin-top: 1rem;
        border: 0;
        background-color: #ff3b3b;
        padding: 0.2rem 1rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 20px red;
        }
      }
    }
  }
}
