.developerTitle {
  text-align: center;
  background: #14182f;
  padding: 10rem 0;
  h1 {
    font-size: 50px;
    font-weight: normal;
  }
}

.devContainer {
  display: flex;
  align-items: center;
}
