.developerWrapper {
  .developerTitle {
    text-align: center;
    background: #14182f;
    padding: 10rem 0;
    h1 {
      font-size: 50px;
      font-weight: normal;
    }
  }
  .devContainer {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
