.cardContainer {
  background: #0a0c18;
  padding: 2rem;

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    background: #14182f;
    color: #fff;
    width: fit-content;
    padding: 2rem;
    .photo {
      background: #fff;
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }

    .name {
      h2 {
        margin: 2rem 0 1rem 0;
      }
    }
  }
}
