footer {
  background: #14182f;
  color: white;
  padding: 2.5rem 0;
  .footerContent {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;
    h2 {
      font-weight: normal;
      margin-bottom: 1.5rem;
      code {
        color: #ff3c3c;
      }
    }
    .page {
      p {
        transition: 0.3s ease-in-out;
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          color: #fff;
          &:hover {
            color: #ff3c3c;
          }
        }
        .active {
          color: #ff3c3c;
        }
      }
    }
    .email {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin-bottom: 0;
        margin-left: 0.5rem;
      }
    }
  }
}
