footer {
  background: #14182f;
  color: white;
  padding: 2.5rem 0;
  .footerContent {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;
    h1 {
      margin-bottom: 1.5rem;
      code {
        color: #ff3c3c;
      }
    }
    p {
      margin-bottom: 1rem;
      padding-right: 8rem;
    }
    .email {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin-bottom: 0;
        margin-left: 0.5rem;
      }
    }
  }
}
