header {
  background-color: #0a0c18;
  color: white;
  padding: 2.5rem 0;
  .headerContainer {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-weight: normal;
        &:last-child {
          margin-left: 0.4rem;
          color: red;
        }
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      // cursor: pointer;

      .active {
        border-bottom: 1px solid red;
      }

      a {
        cursor: pointer;
        margin-right: 2rem;
        transition: 0.3s ease;
        padding-bottom: 0.1rem;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        user-select: none;

        &:hover {
          border-bottom: 1px solid #fff;
        }
        &:last-child {
          color: red;
          margin-right: 0;
          &:hover {
            border-bottom: 1px solid red;
          }
        }
      }
    }
  }
}
